.app-container {
  margin: 5% 20% 5% 20%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 150px);
  row-gap: 2%;
  column-gap: 2%;
}
.search-box {
  height: 20px;
  margin: 0;
  padding-right: 30px;
  width: 90.5%;
}

.searchIcon {
  position: absolute;
  bottom: 2px;
  right: 5px;
  width: 40px;
  height: 24px;
}
.image-class {
  background-size: fit;
}
.loadmorediv {
  margin-top: 5%;
  margin-left: 30%;
}
.btnstyle {
  border-radius: 10px;
  padding: 10px 24px;
  background-color: #99ffff;
  transform: translateX(100%);
}
.imagemodal {
  background-color: #707070;
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 5%;
  width: 50%;
  height: 90%;
}

.modal-image {
  position: absolute;
  left: 22.25%;
  top: 2.5%;
  width: 55%;
  height: 90%;
}
.downloadbtn {
  background-color: #99ffff;
  border-radius: 5%;
  position: absolute;
  bottom: 3%;
  left: 45%;
}
.closebtn {
  border-radius: 100%;
  background-color: #000000;
  color: white;
  top: 0;
  right: 0;
  position: absolute;
}
